/* Condição para quando a tela tiver até 900px de comprimento */
@media screen and (max-width:900px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    nav {
        margin-top: 5px;
    }

    .botao{
        margin-top: 10px;
        width: 300px;
    }

}

/* Condição para quando a tela tiver até 1000px de comprimento */
@media screen and (max-width:1000px){
    .main-game .container{
        width: 80%;
    }
}